@font-face{
    font-family: "oxigen";
    src: url("fonts/Oxygen-Regular.ttf")format(truetype);
    font-weight: normal;
    font-style:normal;
                  

}

body {
    background-color: #173300
}

#general {
    width: 900px;
    height: 550px;
    margin-left: 329px;

}

#originQuantity{
   
    padding-top: 14px;
    padding-left: 15px;
    margin-top: 10px;
    
}

#originQuantity label{
    font-family: "oxigen";
    font-weight:120;
    font-size: 12px;
   
    color: #585757;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}


#title {
	width: 465px;
	margin-left: 94px;
}


#title h1 {
	color: #A1E96A;
	width: 423px;
	height: 88px;
	text-align: center;
	margin-left: 19px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
}

#container {
    width: 450px;
    height: 550px;
    background-color:#FFFFFF;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 43px;

}


#textButton {
	width: 241px;
	height: 39px;
	margin-top: 4px;
}


#textButton input[type="text"]  {
	margin-top: 2px;
	margin-left: 17px;
	width: 217px;
	height: 39px;
	float: left;
	border-radius: 7px;
	border: solid 1px #969292;
}
    

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e7eaee;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 10px;

}

.button:hover {
    background-color: #ecf0f3;
}


.button img {
    width: 15px;
    height: 15px;
    border-radius: 100px;
}






