@font-face{
    font-family: "oxigen";
    src: url("fonts/Oxygen-Regular.ttf")format(truetype);
    font-weight: normal;
    font-style:normal;
                  

}


body {
    background-color: #173300
}

#general {
    width: 900px;
    height: 550px;
    margin-left: 329px;

}

#originQuantity{
   
    padding-top: 14px;
    padding-left: 15px;
    margin-top: 10px;
    
}

#originQuantity label{
    font-family: "oxigen";
    font-weight:120;
    font-size: 17px;
   
    color: #585757;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}


#title {
	width: 465px;
	margin-left: 94px;
}


#title h1 {
	color: #A1E96A;
	width: 423px;
	height: 88px;
	text-align: center;
	margin-left: 19px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
}

#container {
    width: 450px;
    height: 550px;
    background-color:#FFFFFF;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 43px;

}

.enter , .enter2{
    display: flex;
}

#textButton   {
	
        width: 249px;
        height: 50px;
        margin-top: 7px;
        border: solid 1px #7c7a7ac7;
        margin-left: 22px;
        border-radius: -7px;
        
        border-radius: 7px 0px 0px 7px;
        border-right-color: transparent;
    
}


#textButton input[type="text"]   {
	margin-top: 0px;
	margin-left: 1px;
	width: 243px;
	height: 43px;
	float: left;
	
	border: none;
	background-color: transparent;
}

    

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e7eaee;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 10px;

}

.button:hover {
    background-color: #ecf0f3;
}


.button img {
    width: 15px;
    height: 15px;
    border-radius: 100px;
}
#selectorList1 img{
    width: 10px;
    height: 10px;
    border-radius: 3px;

}


#selectorList1 ul a img{
   
   
        width: 19px;
        height: 18px;
        border-radius: 7px;
    

}
#selectorList1 ul  a {
    text-decoration: none;

}

#selectorList1{
	border: solid 1px #ccc;
	margin-top: 7px;
	margin-left: -18px;
	width: 132px;
	height: 50px;
	float: left;
	border-radius: 7px;
	border: solid 1px #969292;
}

#selectorList1 ul{
    list-style: none;
    margin-top: 2px;
    

}









